.homepage__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    margin-bottom: 5rem;
    min-height: 60vh;
}

.frontpage__image {
    border-radius: 50%;
    width: 20rem;
    padding: 2rem;
    cursor: pointer;
}

.text {
    margin: 0;
    padding: 0;
}

.homepage__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}