.product-information {
    background-color: #fabef1;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    color: black;
}

img {
    width: 150px;
}

ul {
    list-style-type: none;
}