.cart__display-products {
    font-family: var(--font-family);
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}


.cart__price {
    display: flex;
    font-family: var(--font-family);
    justify-content: space-between;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
}

.cart__row {
    font-family: var(--font-family);
    display: flex;
    width: 50rem;
}

.cart__button__checkout {
    font-family: var(--font-family);
    display: flex;
    background-color: #beb2e0;
    margin: 1rem;
    padding: 1rem;


}

