.product__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    padding: 1rem;
}

.product__image {
    width: 20rem;
    cursor: pointer;

}

.product__button {
    background-color: var(--color-primary);
    cursor: pointer;
    width: 15rem;
    margin: -1rem;
    border: transparent;
}

.product__description {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
