.product__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.product__page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
