.product__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    padding: 1rem;
}

.product__image {
    width: 20rem;
    cursor: pointer;
}

.product__button {
    background-color: #f7f6f2;
    cursor: pointer;
    width: 10rem;
}

