aside {
    background-color: white;
    position: fixed;
    right: -440px;
    transition: 0.3s;
    padding: 15px;
    width: 400px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 0 5px 5px 0;
    height: 100vh;
    z-index: 1;
}

aside:hover {
    right: 0;
    overflow-y: scroll;
    background-color: white;
    border: 0.5rem solid var(--color-primary);
}

.cart__icon {
    transform: translateX(-100px);
    padding: 1.5rem 0rem 1rem 1rem;
    background-color: white;
    color: var(--color-primary);
}

.cart__button__badge--overlap {
    transform: translateX(-30px);
}

.overview__button {
    cursor: pointer;
}

.price__summary {
    border-width:5px;
    border-style:dotted solid double dashed;
    border-color: var(--color-primary);
    padding: 1rem;
    margin-left: 2rem;
}

@media screen and (max-width: 600px) {
    aside {
        display: none;
    }
    }