.nav-buttons {
    /*HIER KOMT HET LOGO EN PROFILE, WINKELWAGEN BUTTON*/
    height: 80px;
    border: solid grey 1px;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo {
    padding: 0;
    margin: 0;
}

.menu-items ul {
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 30px;
    margin: 0;
    font-family: var(--font-text);

}

.active-link {
    color: inherit;
    text-decoration: inherit;
}

/*NavLink {*/

/*    text-decoration:none;*/
/*}*/


.nav-line {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    font-style: italic;
    height: 30px;
    font-family: var(--font-text);
}

/*.active-link {*/
/*    border-bottom: 2px solid white;*/
/*    font-color: white;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

/*nav {*/
/*    background-color: hsl(50, 100%, 50%);*/
/*    height: 75px;*/
/*}*/