.topmenu__header {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.topmenu__logo {
    width: 30%;
    height: auto;
    cursor: pointer;
}

.topmenu__navigation-link {
    color: white;
}

.topmenu__navigation-link:visited {
    color: white;
}


.topmenu__navigation ul {
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 2rem;
    padding-top: 0.5rem;
    font-family: var(--font-family);
}

.topmenu__sub-header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    font-style: italic;
    height: 2rem;
    font-family: var(--font-family);
    padding-top: 0.5rem;
}

.cart__button__badge {
    background-color: var(--color-primary);
    border: none;
    color: black;
    width: 1.5rem;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .topmenu__navigation ul {
        flex-direction: column;
        align-items: flex-start;
        height: unset;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }

    .topmenu__navigation ul li {
        padding-bottom: 0.5rem;
    }

    .topmenu__sub-header {
        height: unset;
        text-align: center;
        padding: 0 2rem;
    }
}
