.topmenu__header {
    background-color: #f7f6f2;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.topmenu__logo {
    width: 30%;
    height: auto;
}

.topmenu__navigation-link {
    color: white;
}

.topmenu__navigation-link:visited {
    color: white;
}


.topmenu__navigation ul {
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 30px;
    font-family: var(--font-family);
}


.topmenu__sub-header {
    background-color: hsl(0, 100%, 70%);;
    display: flex;
    justify-content: center;
    font-style: italic;
    height: 30px;
    font-family: var(--font-family);
}

.cart__button__badge {
    background-color: #F7F5DF;
    border: none;
    color: black;
    width: 1.5rem;
}
