aside {
    background-color: #F7F5DF;
    position: fixed;
    right: -340px;
    transition: 0.3s;
    padding: 15px;
    width: 300px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 0 5px 5px 0;
    height: 100vh;

}

aside:hover {
    right: 0;
    overflow-y: scroll;
    background-color: #f7f6f2;
}

.cart__icon {
    transform: translateX(-100px);
    padding: 2rem 0rem 2rem 1rem;
    background-color: #f7f6f2;
    color: red;
}

.cart__button__badge--overlap {
    transform: translateX(-30px);
}